<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
     <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
</head>
<body>
<table class="table">
    <tr>
         <td>id</td>
        <td>item_name</td>
        <td>qty_purchase</td>
        <td>purchase_price</td>
        <td>selling_price</td>
          <td>date</td>
    </tr>
    <tr>
        <td>{{item.id}}</td>
        <td>{{item.item_name}}</td>
        <td>{{item.qty_purchase}}</td>
        <td>{{item.purchase_price}}</td>
        <td>{{item.selling_price}}</td>
        <td>{{item.date}}</td>
    </tr>
</table>
</body>
</html>